<section>
  <section class="main">
    <% if @users.length == 0 %>
      <p>
        Sorry, there are currently no users in the system. Come back soon!
      </p>
    <% else %>
    <section>
      <h3 class="ui center aligned header">Potential Matches</h3>
      <div class="ui middle aligned divided list">
        <% @users.each do |user| %>
        <div class="item">
          <div class="right floated content">
            <div class="ui button">
              <%= link_to("I'm interested!", new_user_admirer_path(user.id))%>
            </div>
          </div>
          <i class="user icon"></i>
          <div class="content">
            <%= user.username %>
          </div>
          <div class="content">
            <%= user.bio %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
  </section>
</section>
</section>
